# Node.js зависимости
node_modules/

# Логи
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Среды выполнения
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Директории сборки
/dist

# Кэш файлы редакторов и операционных систем
.DS_Store
Thumbs.db

# Lock файлы
yarn.lock
package-lock.json
pnpm-lock.yaml

# Файлы сборки
*.tsbuildinfo

# Файлы, специфичные для конкретных редакторов или IDE
.vscode/
.idea/
*.swp
*.swo
